{% extends './base.html' %} {% block content %}

<div class="container p-5 d-flex justify-content-center align-items-center">
  <form
    method="POST"
    enctype="multipart/form-data"
    class="border border-light-subtle p-3 rounded bg-light-subtle"
  >
    {% csrf_token %}
    <div class="form-group p-1">
      {{ form.title.label_tag }} {{ form.title }}
    </div>
    <div class="form-group p-1">
      {{ form.description.label_tag }} {{ form.description }}
    </div>
    <div class="form-group p-1">
      {{ form.priority.label_tag }} {{ form.priority }}
    </div>
    <div class="form-group mb-3 p-1">
      {{ form.dueDate.label_tag }} {{ form.dueDate }}
    </div>
    <div class="input-group mb-3 p-1">{{ form.file }}</div>
    <div class="input-group mb-3 p-1">{{ form.image }}</div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

{%endblock%}
