{% extends './base.html' %} 
{% block content %}
<div
  class="container p-5 d-flex flex-column justify-content-start align-items-center h-75"
>
  <h3 class="pt-2 pb-5">Are you sure you want to delete this item?</h3>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{todo.title}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{todo.dueDate}}</h6>
      <p class="card-text">{{todo.description}}</p>

      <div
        class="sub-container d-flex justify-content-evenly align-items-center w-75"
      >
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirm</button>
        </form>

        <a
          href="{% url 'viewAll' %}"
          class="btn btn-primary text-decoration-none text-white"
          >Cancel</a
        >
      </div>
    </div>
  </div>
</div>

{%endblock%}
