{% extends './base.html' %} {% block content %}
<div
  class="container w-100 p-5 d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="mb-5 fs-1 fw-semibold font-monospace text-dark">Your Todos</h1>
  <table class="table table-bordered table-hover w-100 p-3">
    <thead>
      <tr>
        <th scope="col" class="font-monospace">Title</th>
        <th scope="col" class="font-monospace">Priority</th>
        <th scope="col" class="font-monospace">Due-Date</th>
        <th scope="col" class="font-monospace">delete</th>
        <th scope="col" class="font-monospace">update</th>
        <th scope="col" class="font-monospace">details</th>
      </tr>
    </thead>
    <tbody>
      {% for data in dataset %}
      <tr>
        <td scope="row">{{data.title}}</td>
        <td>{{data.priority}}</td>
        <td>{{data.dueDate}}</td>
        <td>
          <a
            class="text-decoration-none text-danger m-2"
            href="{% url 'deleteOne' data.pk %}"
            >click!</a
          >
        </td>
        <td>
          <a
            class="text-decoration-none text-info m-2"
            href="{% url 'updateOne' data.pk %}"
            >click!</a
          >
        </td>
        <td>
          <a
            class="text-decoration-none .text-success m-2"
            href="{% url 'viewOne' data.pk %}"
            >click!</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
