{% extends './base.html' %} {% block content %}
<div class="container p-5 d-flex justify-content-center align-items-center">
  <div
    class="card w-50 {% if data.priority == 'high' %} border border-danger-subtle {% elif data.priority == 'medium' %} border border-warning {% elif data.priority == 'low' %} border border-info {% endif %}"
    style="width: 18rem"
  >
    <img
      src="{{ data.image.url }}"
      alt="{{ data.title }}"
      class="card-img-top img-fluid mb-3"
      alt="an image"
    />
    <div class="card-body">
      <h5 class="card-title">{{ data.title }}</h5>
      <p class="card-text">{{ data.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ data.dueDate }}</li>
      <li class="list-group-item">
        <a href="{{ data.file.url }}" class="">Download File</a>
      </li>
    </ul>
    <div class="card-body">
      <a
        href="{% url 'deleteOne' data.pk %}"
        class="card-link text-decoration-none text-danger"
        >delete</a
      >
      <a
        href="{% url 'updateOne' data.pk %}"
        class="card-link text-decoration-none text-primary"
        >update</a
      >
    </div>
  </div>
</div>

{%endblock%}
