{% extends './base.html' %} {% block content %}

<div
  class="container p-5 d-flex flex-column justify-content-start align-items-center h-auto"
>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{user.email}}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        <b>Date of registration:</b> {{user.date_joined}}
      </h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        <b>Last login:</b> {{user.last_login}}
      </h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        <b>Activity:</b> {{user.is_active}}
      </h6>

      <a href="{% url 'viewAll' %}" class="card-link">view todo</a>
    </div>
  </div>
</div>

{%endblock%}
